<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Home</title>
</head>

<body>

    {% include 'nav.html' %}

    <h1>hello world</h1>
    <b>Welcome {{request.user}}</b>
    <p>this is a template</p>
    {% block content %}
        there will be replaced
    {% endblock %}
    
    <br>

    <footer>
        <b><strong>以上實作範例僅供學習、練習使用</strong></b>
    </footer>
</body>

</html>